@charset "utf-8";
/*========================页面头部样式========================*/
.remind_link {
	background: url(/static/images/yh_button02.png) no-repeat scroll 0 0 transparent;
	height: 27px;
	line-height: 27px;
	text-align: center;
	text-decoration: none;
	width: 72px;
	padding: 6px;
}
body {
	overflow-x:auto;
	min-width:1002px;
 	_width:expression(documentElement.clientWidth<1002?"1002px":"auto");
}
.ui-dialog-titlebar {
	display: none;
}
#head {
	width:100%;
	height:80px;
	background:url(/static/images/head_bg.jpg) no-repeat right center;
	min-width:1002px;
	_width:expression(documentElement.clientWidth<1002?"1002px":"auto");
	overflow:hidden;
}
.header_left {
	height:80px;
	float:left;
}
.header_right {
	float: right;
	margin: 15px;
}
.logo_img {
	float:left;
	width:110;
	height:54;
	margin:15px 0px 0px 45px;
}
.logo_label {
	font-family:微软雅黑;
	font-size:24px;
	line-height:80px;
	color:#FFF;
	margin-left:5px;
}
#head_bar {
	width:100%;
	height:42px;
	background:url(/static/images/sav_new_bg.png) repeat-x;
	min-width:1002px;
	overflow:hidden;
	color:#FFF;
}
.nav_name  {
	display:inline-block;
	max-width: 113px;
	_max-width: 113px;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
}
.nav_profile {
	float: left;
	width:165px;
	height:42px;
	line-height: 42px;
	_line-height:normal;
	padding-left: 25px;
	_padding-right:70px;
	overflow: hidden;
}
.nav_profile {
	vertical-align:middle;
	_height:20px;
	_margin-top:13px;
}
.nav_profile a {
	color: #FFFFFF;
}
.nav_profile a span {
	position: relative;
	top:2px;
	padding-left:5px;
	color:#FFF;
}
.nav_profile a:hover{
	text-decoration: underline;
}
.nav_other {
	float: right;
}
.yh_logo {
	margin-left:60px;
	margin-top:12px;
}
#jumpMenu01 {
	float:right;
	margin-top:13px;
	margin-right:22px;
}
.nav_help {
	float: right;
	height: 42px;
	line-height: 42px;
	padding-right: 20px;
}
.nav_help img {
	position: relative;
	top: 3px;
}
.nav_help li {
	display:inline-block;
	margin-right: 5px;
	float:left
}
.nav_help li a {
	color:#FFF;
}
.bar01 {
	background:url(/static/images/header_bar_02.png) no-repeat left center;
	padding-left:21px;
}
.bar02 {
	background:url(/static/images/header_bar_03.png) no-repeat left center;
	padding-left:20px;
	margin-left:10px;
}
.bar03 {
	background:url(/static/images/header_bar_04.png) no-repeat left center;
	padding-left:21px;
	margin-left:10px;
}
/*==========================页面左部导航菜单样式============================*/
.main_left {
	overflow:hidden;
	width:190px;
	min-height:600px;
	margin-top:0px;
	float:left;
	background:url(/static/images/yh_nav_bg.png) repeat-y;
height:expression(document.body.clientHeight>650?"650px":"auto");
}
.nav_menu {
	margin-top:20px;
}
.nav_li_hover {
	background:url(/static/images/yh_nav_bg_change.png) no-repeat;
}
.nav_li_active {
	background:url(/static/images/meau_bg_change.jpg) no-repeat;
}
.nav_a_off{
	display:block;
	float:left;
	margin-top:14px;
	margin-left:10px;
	color:#333;
	background:url(/static/images/new02.png) right center no-repeat;
	padding-right:20px;
}
.nav_a_on{
	display:block;
	float:left;
	margin-top:14px;
	margin-left:10px;
	color:#333;
	background:url(/static/images/new01.png) right center no-repeat;
	padding-right:20px;
}
.m01 {
	height:40px;
	vertical-align:middle;
	width:190px;display:block;
}
.m01_public {
	height:40px;
	vertical-align:middle;
	width:190px;display:block;
	cursor: pointer;
}
.m01_public a {
	display:block;
	float:left;
	margin-top:14px;
	margin-left:10px;
	color:#333;
	padding-right:20px;	
}
.m01_img {
	display:block;
	float:left;
	margin-top:8px;
	padding-left:30px;
}

.m01_img02{ margin-top:5px; margin-left:9px;}
.m01 a {
	display:block;
	float:left;
	margin-top:14px;
	margin-left:10px;
	color:#333;
	background:url(/static/images/new01.png) right center no-repeat;
	padding-right:20px;
}

.m02 {
	height:40px;
	vertical-align:middle;
	width:190px;
	cursor:pointer;
}
/*  .m02:hover{ background:url(/static/images/yh_nav_bg_change.png) no-repeat;}  */
.m02_img {
	display:block;
	float:left;
	margin-top:8px;
	padding-left:30px;
}
.m02 a {
	display:block;
	float:left;
	margin-top:14px;
	margin-left:10px;
	color:#333
}
.m03 {
	height:40px;
	vertical-align:middle;
	width:190px;
	cursor:pointer;
}
.m03_img {
	display:block;
	float:left;
	margin-top:8px;
	padding-left:30px;
}
.m03 a {
	display:block;
	float:left;
	margin-top:14px;
	margin-left:10px;
	color:#333
}
.m04 {
	height:40px;
	vertical-align:middle;
	width:190px;
	cursor:pointer;
}
.m04_img {
	display:block;
	float:left;
	margin-top:8px;
	padding-left:30px;
}
.m04 a {
	display:block;
	float:left;
	margin-top:14px;
	margin-left:10px;
	color:#333
}
.m05 {
	height:40px;
	vertical-align:middle;
	width:190px;
	cursor:pointer;
}
.m05_img {
	display:block;
	float:left;
	margin-top:8px;
	padding-left:30px;
}
.m05 a {
	display:block;
	float:left;
	margin-top:14px;
	margin-left:12px;
	color:#333
}
.m06 {
	height:40px;
	vertical-align:middle;
	width:190px;
	cursor:pointer;
}
.m06_img {
	display:block;
	float:left;
	margin-top:8px;
	padding-left:30px;
}
.m06 a {
	display:block;
	float:left;
	margin-top:14px;
	margin-left:10px;
	color:#333;
	
}
.m07 {
	height:40px;
	vertical-align:middle;
	width:190px;
	cursor:pointer;
	 display:block;
}
.m07_img {
	display:block;
	float:left;
	margin-top:8px;
	padding-left:30px;
}
.m07 a {
	display:block;
	float:left;
	margin-top:14px;
	margin-left:10px;
	color:#333;
	background:url(/static/images/new01.png) right center no-repeat;
	padding-right:20px;
}


.m09 {
	height:40px;
	vertical-align:middle;
	width:190px;
	cursor:pointer;vertical-align:middle;
}
/*  .m06:hover{ background:url(/static/images/yh_nav_bg_change.png) no-repeat;}  */
.m09_img {
	display:block;
	float:left;
	margin-top:8px;
	padding-left:60px; vertical-align:middle;
	cursor:pointer;
}
/*  .m06:hover{ background:url(/static/images/yh_nav_bg_change.png) no-repeat;}  */

.m01_img02 {
	margin-top: 5px;
	margin-left: 9px;
}

.m09_img {
	display:block;
	float:left;
	margin-top:10px;
	padding-left:60px;
}
.m09 a {
	display:block;
	float:left;
	margin-top:14px;
	margin-left:10px;
	color:#333;
}
.m_a {
	height:40px;
	vertical-align:middle;
	width:190px;
	cursor:pointer;
}
.m_a img {
	display:block;
	float:left;
	margin-top:8px;
	padding-left:60px;
}
.m_a a {
	display:block;
	float:left;
	margin-top:14px;
	margin-left:10px;
	color:#333;
}
.m_b {
	height:40px;
	vertical-align:middle;
	width:190px;
	cursor:pointer;
}

.m_b img {
	display:block;
	float:left;
	margin-top:8px;
	padding-left:60px;
}
.m_b a {
	display:block;
	float:left;
	margin-top:14px;
	margin-left:10px;
	color:#333;
}
/*.nav_menu li { 
	background:url(/static/images/nav_li_bg.png) bottom center no-repeat;
}
.m01,.m07{ background:url(/static/images/nav_li_bg.png) bottom center no-repeat;}*/

}
.m_b a {
	display:block;
	float:left;
	margin-top:14px;
	margin-left:10px;
	color:#333;
}

/* 主体右部分样式 */
.main_right {
	width:auto;
	/*	min-width:810px;
_width:expression((document.documentElement.clientWidth||document.body.clientWidth)<810?"810px":"");*/
	overflow:hidden;
}
/* 底部版权样式 */	
#copy {
	width:100%;
	height:34px;
	background:url(/static/images/copy_bg02.png) repeat-x;
	text-align:center;
	clear: left
}
.copy_text {
	text-align:center;
	line-height:34px;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
}
.nav_right {
	float:right;
}
.nav_right li {
	float:left;
	margin-right:15px;
}
.time_bj a {
	display:block;
	text-decoration:underline;
	color:#FFF;
	line-height:42px;
}
.jumpMenu_language {
	display:block;
	line-height:42px;
	vertical-align:middle;
}
.language_box {
	padding:10px;
}


/*帮助*/


.help_left {
	width:220px;
	margin-top:0px;
	float:left;
	background:url(/static/images/help_left_bg.jpg) repeat-y;
	height:expression(document.body.clientHeight>600?"600px":"auto");
}
.help_left_li01 {
}
.help_01 {
	width:180px;
	height:26px;
	vertical-align:text-bottom;
	line-height:26px;
}
.help_img01 {
	margin-right:10px;vertical-align:text-bottom;
}
.help_02 {
	width:140px;
	height:26px;
	margin-left:25px;
	line-height:26px;
	vertical-align:text-bottom;
}
.help_img02 {
	margin-right:10px;vertical-align:text-bottom;
}
.help_left_ul {
	margin-left:16px;
	margin-top:16px;
}
.help_03 {
	width:140px;
	height:26px;
	margin-left:50px;
	line-height:26px;
	vertical-align:text-bottom;
}

.help_04 {
	width:140px;
	height:26px;
	margin-left:50px;
	line-height:26px;
}
.help_subnav img{ vertical-align:middle; margin-top:10px; margin-left:30px;}
.help_left_ul li{ _padding-top:12px;}




/*========================页面样式========================*/
/*========================页面左侧菜单的样式========================*/
.nav-menu {
	margin-top: 20px;
}
.nav-menu a {
       text-decoration: none;
       cursor: pointer;
       display: block;
       height: 40px;
       line-height: 40px;
       outline: medium none;
       overflow: hidden;
       width: 190px;
       position: relative;
       color: #000000;
       outline: none;
       background: url("/static/images/blank.gif");
   }
   
   .nav-ul-on .icon-arrow {
       width:7px;height:7px;display: inline-block;background: url("/static/images/icon-on.png") no-repeat scroll center center transparent;
       position:relative;left:50px;
   }
   /*ie7 hack*/
*+html .nav-ul-on .icon-arrow {
    bottom:4px;
}
.nav-ul-off .icon-arrow {
    width:7px;height:7px;display: inline-block;background: url("/static/images/icon-off.png") no-repeat scroll center center transparent;
    position:relative;left:50px;
}
/*ie7 hack*/
*+html .nav-ul-off .icon-arrow {
    bottom:4px;
}
.icon0-img {
    width:25px;height:24px;display: inline-block;background: url("/static/images/icon1.png") no-repeat scroll 0 0 transparent;
    position:relative;top:6px;left:30px;
}
.icon0-span {display: inline-block;position: relative;left: 35px;}
.icon1-img {
    width:25px;height:24px;display: inline-block;background: url("/static/images/icon1.png") no-repeat scroll 0 0 transparent;
    position:relative;top:6px;left:30px;
}
.icon1-span {display: inline-block;position: relative;left: 35px;}
.icon11-img {
    width:25px;height:24px;display: inline-block;background: url("/static/images/icon11.png") no-repeat scroll 0 0 transparent;
    position:relative;top:6px;left:60px;
}
.icon11-span {display: inline-block;position: relative;left: 65px;}
.icon12-img {
    width:25px;height:24px;display: inline-block;background: url("/static/images/icon12.png") no-repeat scroll 0 0 transparent;
    position:relative;top:6px;left:60px;
}
.icon12-span {display: inline-block;position: relative;left: 65px;}
.icon2-img {
    width:25px;height:24px;display: inline-block;background: url("/static/images/icon2.png") no-repeat scroll 0 0 transparent;
    position:relative;top:6px;left:30px;
}
.icon2-span {display: inline-block;position: relative;left: 35px;} 
.icon3-img {
    width:25px;height:24px;display: inline-block;background: url("/static/images/icon3.png") no-repeat scroll 0 0 transparent;
    position:relative;top:6px;left:30px;
}
.icon3-span {display: inline-block;position: relative;left: 35px;} 
.icon4-img {
    width:25px;height:24px;display: inline-block;background: url("/static/images/icon4.png") no-repeat scroll 0 0 transparent;
    position:relative;top:6px;left:30px;
}
.icon4-span {display: inline-block;position: relative;left: 35px;}
.icon41-img {
    width:25px;height:24px;display: inline-block;background: url("/static/images/icon41.png") no-repeat scroll 0 0 transparent;
    position:relative;top:6px;left:60px;
}
.icon41-span {display: inline-block;position: relative;left: 65px;}
.icon42-img {
    width:25px;height:24px;display: inline-block;background: url("/static/images/icon42.png") no-repeat scroll 0 0 transparent;
    position:relative;top:6px;left:60px;
}
.icon42-span {display: inline-block;position: relative;left: 65px;} 
.icon5-img {
    width:25px;height:24px;display: inline-block;background: url("/static/images/icon5.png") no-repeat scroll 0 0 transparent;
    position:relative;top:6px;left:30px;
}
.icon5-span {display: inline-block;position: relative;left: 35px;} 
.icon6-img {
    width:25px;height:24px;display: inline-block;background: url("/static/images/icon6.png") no-repeat scroll 0 0 transparent;
    position:relative;top:6px;left:30px;
}
.icon6-span {display: inline-block;position: relative;left: 35px;} 
.icon7-img {
    width:25px;height:24px;display: inline-block;background: url("/static/images/icon7.png") no-repeat scroll 0 0 transparent;
    position:relative;top:6px;left:30px;
}
.icon7-span {display: inline-block;position: relative;left: 35px;} 
.icon8-img {
    width:25px;height:24px;display: inline-block;background: url("/static/images/icon8.png") no-repeat scroll 0 0 transparent;
    position:relative;top:6px;left:30px;
}
.icon8-span {display: inline-block;position: relative;left: 35px;} 
.icon81-img {
    width:25px;height:24px;display: inline-block;background: url("/static/images/icon81.png") no-repeat scroll 0 0 transparent;
    position:relative;top:6px;left:60px;
}
.icon81-span {display: inline-block;position: relative;left: 65px;}
.icon82-img {
    width:25px;height:24px;display: inline-block;background: url("/static/images/icon82.png") no-repeat scroll 0 0 transparent;
    position:relative;top:6px;left:60px;
}
.icon82-span {display: inline-block;position: relative;left: 65px;} 

.icon9-img {
    width:25px;height:24px;display: inline-block;background: url("/static/images/icon9.png") no-repeat scroll 0 0 transparent;
    position:relative;top:6px;left:30px;
}
.icon9-span {display: inline-block;position: relative;left: 35px;}

.active .ico0, .active .ico11, .active .ico12, .active .ico2, .active .ico3, 
.active .ico41, .active .ico42, .active .ico5, .active .ico6, 
.active .ico7, .active .ico81, .active .ico82, .active .ico9{
    background: url("/static/images/menu_change.jpg") no-repeat scroll 0 0 transparent;
}