@charset "utf-8";
/* CSS Document */
/* 页面头部样式 */
body{ font-family:"宋体"; font-family:"Arial, Helvetica, sans-serif"; margin:0; padding:0; font-size:12px; outline:none;}
div,form,img,ul,ol,li,dl,dt,dd,input,h1,h2,h3,h4,h5,h6,span,p,table,a{margin:0; padding:0; border:0; }
ul,li{ list-style:none; }
a{ text-decoration:none; color:#333}



 
/* 主体右部分样式 */
.ss_text{ width:235px; height:24px; background:url(/static/images/sousuo_text.jpg) no-repeat; border:0;text-indent:5px; line-height:24px; float:left;}
.ss_text:hover{ background:url(/static/images/sousuo_textchange.jpg) no-repeat;}
.ss_button{ width:37px; height:24px; background:url(/static/images/sousuo_button.jpg) no-repeat; cursor:pointer; float:left; margin-right:10px;}
.ss_button:hover{ background:url(/static/images/sousuo_button_change.jpg) no-repeat;}
.main_right{ height:auto; width:100%;  min-width:757px; margin-right:10px;_width:expression((document.documentElement.clientWidth||document.body.clientWidth)<757?"757px":"");overflow:hidden;}
.main_container{ height:560px; width:auto;  min-width:757px; _width:expression((document.documentElement.clientWidth||document.body.clientWidth)<757?"757px":"");overflow:hidden;}

/* 搜索框 */	
.m_top{ color:#305872; height:30px; margin-top:15px; width:100%; }
.make_new{ float:right;}
.make_new a{ width:99px; height:25px; display:block; background:url(/static/images/jzbgchange.jpg) no-repeat; text-align:center; line-height:24px;color:#A1A1A1; color:#4B525A;}
.make_new a:hover{ background:url(/static/images/jzbg.jpg) no-repeat; color:#2270A8;}
#textfield01{width:236px; height:22px; font-size:12px; color:#AFAFAF; float:left; background:url(/static/images/text_bg.jpg) no-repeat; line-height:24px;}
#textfield01:hover{ background:url(/static/images/text_bg_change.jpg) no-repeat;}
#textfield:hover{ border:#226EA7 1px solid;}
.text_box{ width:380px; height:22px; float:left;color:#305872;}
.text_box a{ color:#A1A1A1;}
.gaoji{  display:block; padding-top:9px; *padding-top:11px;padding-top:11px !important;  outline:none; float:left;color:#226EA7;}
.gaoji:hover{ color:#226EA7; text-decoration:underline;}
.change:hover{ background:#00F;}

/*高级搜索*/
.emile_01_bottom{ padding-top:6px;}
.emile_01_bottom li span{ text-align:right; display:block; float:left; width:80px; line-height:22px;}
.emile_01_bottom li{ margin-top:10px;}
.text01{ margin-left:13px; width:362px; height:22px; line-height:22px; color:#666;background:url(/static/images/taxt01_bg.jpg) no-repeat;}
.text01:hover{ background:url(/static/images/taxt01_bg_change.jpg) no-repeat;}
.text02:hover{ background:url(/static/images/taxt01_bg_change.jpg) no-repeat;}
.text03:hover{ background:url(/static/images/taxt01_bg_change.jpg) no-repeat;}
.text04:hover{ background:url(/static/images/taxt01_bg_change.jpg) no-repeat;}
.text05:hover{ background:url(/static/images/taxt01_bg_change.jpg) no-repeat;}
.text02{ margin-left:13px;width:262px; height:22px; background:url(/static/images/taxt01_bg.jpg) no-repeat;line-height:22px;color:#666;}
.text03{ margin-left:13px;width:262px; height:22px; background:url(/static/images/taxt01_bg.jpg) no-repeat;line-height:22px;color:#666;}
.text04{ margin-left:13px;width:262px; height:22px; background:url(/static/images/taxt01_bg.jpg) no-repeat;line-height:22px;color:#666;}
.text05{ margin-left:13px;width:262px; height:22px; background:url(/static/images/taxt01_bg.jpg) no-repeat;line-height:22px;color:#666;}
.text06{ margin-left:13px;width:262px; height:22px; background:url(/static/images/taxt01_bg.jpg) no-repeat;line-height:22px;color:#666;}
.yingwenming{ float:left; display:block; }
.zhuangtai{ float:left;display:block; margin-right:13px; font-size:12px; font-weight:normal; line-height:22px; margin-left:10px; }
.jumpMenu01{ float:left;margin-left:13px;width:120px; height:22px;}
.jumpMenu02{  width:70px; height:22px;}


/* 表格 */

.main_right{ width:auto; margin-left:10px;}
#table_box{font-family:"Arial, Helvetica, sans-serif"; color:#73798E; margin-top:5px; }	
.STYLE10 { font-size: 12px; background:url(/static/images/table_head_bg.jpg) repeat-x; text-align:center;}
.STYLE10 img{ vertical-align:top; *vertical-align:middle; _vertical-align:middle;  margin-left:5px;  }
.STYLE21 a{ color:#73798E;}

.STYLE21 a:hover{ color:#2270A8; text-decoration:underline;}
.table_bottom{ background:url(/static/images/table_bottom_bg.jpg) repeat-x; color:#5D6E78 ;}
.table_bottom a{color:#5D6E78 }
.table003 td{ border-right:#B5D7E6 1px solid; color:#305872;}
.paixu01 span {
	color:#305872;
}
.STYLE_none{ border-right:none;}
.table005 td{border-bottom:#BED4E1 1px solid;}
.table001 td{ border-bottom:#DCE7EF 1px solid;}
.trMouseOver{ background-color:#EFEFEF; }
.tr-hover { background-color:#E6F0F7;}
.paixu01{ vertical-align:bottom;}
.paixu02{ vertical-align:bottom;}
.paixu03{ vertical-align:bottom;}


.button01,.Btn02{ width:72px; height:24px; background: url(/static/images/button01.jpg) no-repeat;  cursor:pointer; line-height:24px;  text-align:center; cursor:pointer;  position:absolute; right:10px; }
.Btn_Hover02{ background:url(/static/images/button_change.jpg) no-repeat;width:72px; height:24px; cursor:pointer; line-height:24px; float:right; color:#1F6AA1; position:absolute; right:0px;}
.yema a{ outline:none;}
.yema a:hover{color:#226EA7;}
.table002{ border-right:#D6D6D6 1px solid; border-left:#D6D6D6 1px solid;}
.page_shouye a{ width:36px; height:20px; border:#A8BFCE 1px solid; text-align:center; line-height:20px; outline:none; margin-right:5px; margin-left:5px; display:block;}
.page_shouye a:hover{ border:#8EB9D8 1px solid;}
.page_shouye01 a{ width:30px; height:20px; border:#A8BFCE 1px solid; text-align:center; line-height:20px; text-align:center; margin-right:15px;margin-left:5px;outline:none; display:block;}
.page_shouye01 a:hover{ border:#8EB9D8 1px solid;}
.page_next a{ width:46px; height:20px;border:#A8BFCE 1px solid; text-align:center; line-height:20px; margin-left:5px; margin-right:5px; display:block;}
.page_next a:hover{ border:#8EB9D8 1px solid;}
.page_shuzi{ text-align:center; line-height:20px; display:block;margin-right:5px;}
.page_shuzi a{ display:block; width:16px; height:20px;border:#A8BFCE 1px solid; text-align:center; line-height:20px; float:left; margin-left:5px; font-family:Arial, Helvetica, sans-serif; display:block; }
.page_shuzi a:link{border:#A8BFCE 1px solid; text-align:center; line-height:20px;}
.page_shuzi a:hover{ color:#226EA7;border:#8EB9D8 1px solid;}



	

	
	
	
	



	
	